.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    font-weight: 900;
    color: rgb(87, 182, 123);
    background-image: linear-gradient(rgb(52, 79, 166), rgb(143, 39, 67));
    
}

